## Data Exploration ##

Basic data exploration done through tools provided on kaggle.
Notably, 78 percent of cabin data is missing from test. Also, both training and test lack some age data.

## importation and preprocessing ##

In [254]:
import pandas as pd
import numpy as np

# import raw data
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [255]:
# check the head of the two csv
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [256]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [257]:
# Select relevant features
Y = train.Survived

X_train = train.drop(['PassengerId', 'Survived', 'Name','Ticket','Cabin'],axis=1)
X_test = test.drop(['PassengerId', 'Name','Ticket','Cabin'],axis=1)

X_train.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [258]:
X_test.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [259]:
# One-hot encoding

X_train = pd.get_dummies(X_train, columns=['Sex', 'Embarked'])
X_test = pd.get_dummies(X_test, columns=['Sex', 'Embarked'])

X_train.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,1
4,3,35.0,0,0,8.0500,0,1,0,0,1

In [260]:
X_test.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,0,0,7.8292,0,1,0,1,0
1,3,47.0,1,0,7.0000,1,0,0,0,1
2,2,62.0,0,0,9.6875,0,1,0,1,0
3,3,27.0,0,0,8.6625,0,1,0,0,1
4,3,22.0,1,1,12.2875,1,0,0,0,1

In [261]:
# Imputation to fill in age data
from sklearn.impute import KNNImputer

# I am using two KNNimputer because I am not sure if using only instance will contaminate X_test
imputer_train = KNNImputer(n_neighbors=2, weights="uniform")
imputer_test = KNNImputer(n_neighbors=2, weights="uniform")

X_train = pd.DataFrame(data=imputer_train.fit_transform(X_train), columns=X_train.columns)
X_test = pd.DataFrame(data=imputer_test.fit_transform(X_test), columns=X_test.columns)

X_train.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3.0,22.0,1.0,0.0,7.2500,0.0,1.0,0.0,0.0,1.0
1,1.0,38.0,1.0,0.0,71.2833,1.0,0.0,1.0,0.0,0.0
2,3.0,26.0,0.0,0.0,7.9250,1.0,0.0,0.0,0.0,1.0
3,1.0,35.0,1.0,0.0,53.1000,1.0,0.0,0.0,0.0,1.0
4,3.0,35.0,0.0,0.0,8.0500,0.0,1.0,0.0,0.0,1.0

In [262]:
X_test.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3.0,34.5,0.0,0.0,7.8292,0.0,1.0,0.0,1.0,0.0
1,3.0,47.0,1.0,0.0,7.0000,1.0,0.0,0.0,0.0,1.0
2,2.0,62.0,0.0,0.0,9.6875,0.0,1.0,0.0,1.0,0.0
3,3.0,27.0,0.0,0.0,8.6625,0.0,1.0,0.0,0.0,1.0
4,3.0,22.0,1.0,1.0,12.2875,1.0,0.0,0.0,0.0,1.0

In [263]:
# Standardization
from sklearn.preprocessing import StandardScaler

# Using the same scaler
scaler = StandardScaler()

X_train = pd.DataFrame(data=scaler.fit_transform(X_train), columns=X_train.columns)
X_test = pd.DataFrame(data=scaler.fit_transform(X_test), columns=X_test.columns)

X_train.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0.827377,-0.584930,0.432793,-0.473674,-0.502445,-0.737695,0.737695,-0.482043,-0.307562,0.619306
1,-1.566107,0.526546,0.432793,-0.473674,0.786845,1.355574,-1.355574,2.074505,-0.307562,-1.614710
2,0.827377,-0.307061,-0.474545,-0.473674,-0.488854,1.355574,-1.355574,-0.482043,-0.307562,0.619306
3,-1.566107,0.318144,0.432793,-0.473674,0.420730,1.355574,-1.355574,-0.482043,-0.307562,0.619306
4,0.827377,0.318144,-0.474545,-0.473674,-0.486337,-0.737695,0.737695,-0.482043,-0.307562,0.619306

In [264]:
X_test.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0.873482,0.324856,-0.499470,-0.400248,-0.498258,-0.755929,0.755929,-0.568142,2.843757,-1.350676
1,0.873482,1.246383,0.616992,-0.400248,-0.513125,1.322876,-1.322876,-0.568142,-0.351647,0.740370
2,-0.315819,2.352216,-0.499470,-0.400248,-0.464939,-0.755929,0.755929,-0.568142,2.843757,-1.350676
3,0.873482,-0.228060,-0.499470,-0.400248,-0.483317,-0.755929,0.755929,-0.568142,-0.351647,0.740370
4,0.873482,-0.596671,0.616992,0.619896,-0.418322,1.322876,-1.322876,-0.568142,-0.351647,0.740370

## Question b ##

In [265]:
# b
# perform the logistic regression
from sklearn.linear_model import LogisticRegression

log_reg=LogisticRegression()
log_reg.fit(X_train,Y)

LogisticRegression()

In [266]:
# b
# 3-fold Cross validation
from sklearn.model_selection import cross_val_score

scores = cross_val_score(log_reg, X_train, Y, cv=3)
print(scores)

[0.78114478 0.8013468  0.80808081]

In [267]:
# The mean score and the 95% confidence interval of the accuracy score:
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.80 (+/- 0.02)

## Question c ##

In [268]:
# c
# Grid search
from sklearn.model_selection import GridSearchCV

parameters = [{'C': np.logspace(-6, 2, 25)}]

clf = GridSearchCV(LogisticRegression(), parameters, cv = 3)
clf.fit(X_train, Y)

GridSearchCV(cv=3, estimator=LogisticRegression(),
             param_grid=[{'C': array([1.00000000e-06, 2.15443469e-06, 4.64158883e-06, 1.00000000e-05,
       2.15443469e-05, 4.64158883e-05, 1.00000000e-04, 2.15443469e-04,
       4.64158883e-04, 1.00000000e-03, 2.15443469e-03, 4.64158883e-03,
       1.00000000e-02, 2.15443469e-02, 4.64158883e-02, 1.00000000e-01,
       2.15443469e-01, 4.64158883e-01, 1.00000000e+00, 2.15443469e+00,
       4.64158883e+00, 1.00000000e+01, 2.15443469e+01, 4.64158883e+01,
       1.00000000e+02])}])

In [269]:
# c
# Finding the best parameter
print("Best parameter: {}".format(clf.best_params_))
print("Score of best parameter: {:.4f}".format(clf.best_score_))

Best parameter: {'C': 0.46415888336127725}
Score of best parameter: 0.7969

In [270]:
# c
# making prediction
log_reg_searched = LogisticRegression(C=clf.best_params_['C'])
log_reg_searched.fit(X_train, Y)

Y_predict = log_reg_searched.predict(X_test)
Y_predict = pd.DataFrame(data=Y_predict, columns=['Survived'] )

Y_predict.head()

   Survived
0         0
1         0
2         0
3         0
4         1

## Question d ##

In [271]:
# d
# Match predictions with passengerId

df = pd.concat([test[['PassengerId']],Y_predict[['Survived']]], axis=1)
df.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [272]:
# d
# write result to csv

df.to_csv('my_prediction.csv', index=False)